*{
    margin: 0px;
    padding: 0px;
} 
body{
    background-image:url("113888.jpg");
    background-position: center;
    background-size : cover;
    font-family: sans-serif;
    margin-top: 30px;
}
.head1{
    width: 820px;
    background-color: rgba(0, 0, 1, 0.856);
    margin: auto;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    border-radius: 15px 15px 0px 0px;
}
.main{
    background-color: rgba(0, 0, 0, 0.5);
    width: 820px;
    margin: auto;
}
form{
    padding: auto;
    height: auto;
}
.name{
    margin-left: 80px;
    margin-top: 25px;
    width: 125px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
.mid{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
}
.input{
    position: relative;
    left: 10px;
    line-height: 18px;
    padding: 0 22px;
    font-size: 15px;
    color: black;
}
.radio{
    display: inline-block;
    color: white;
}
.radio input{
    cursor: pointer;
    outline: none;
}
button{
    background-color: #3BAF9F;
    display: block;
    margin: 20px 0px 0px 20px;
    text-align: center;
    margin-left: 320px;
    font-size: 17px;
    border-radius: 12px;
    border: 2px solid#366473;
    padding: 7px 50px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.25px;
}
button:hover{
    background-color: rgb(0, 119, 255);
}
